[package]
name = "icicle-jit"
version = "0.2.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
icicle-cpu = { path = "../icicle-cpu" }
pcode = { path = "../sleigh/pcode" }
target-lexicon = "0.12.11"
tracing = { version = "0.1.37", default-features = false }
memoffset = "0.9.0"
cranelift = "0.98.1"
cranelift-native = "0.98.1"
cranelift-module = "0.98.1"
cranelift-jit = "0.98.1"
cranelift-codegen = { version = "0.98.1", default-features = false, features = ["std"] }

[dev-dependencies]
quickcheck = { version = "1.0.3", default-features = false }
